
.icon-folder-open:before { content: '\e800'; } /* '' */
.icon-folder:before { content: '\e801'; } /* '' */
.icon-user-add-outline:before { content: '\e802'; } /* '' */
.icon-user-add:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */